<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'">

    <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'URJC' : ''" navigationRoute="/">

        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <button *ngIf="!loginService.isLogged && !loginService.isGuest" mat-button (click)='openRegisterDialog()' style=" left: 90%">Register</button>
            <button *ngIf="!loginService.isLogged && !loginService.isGuest" mat-button (click)='guest()' style=" left: 89%">Guest</button>
            <button *ngIf="loginService.isLogged" mat-button (click)='logOut()' style=" left: 96%">logOut</button>
            <button *ngIf="!loginService.isLogged" mat-button (click)='openLoginDialog()' style=" left: 88%">logIn</button>
        </div>
<br>
        <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">

            <div flex-gt-sm="100">
                <router-outlet></router-outlet>
            </div>
        </div>

        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span style="margin-left: 98%" class="mat-caption"><a>@URJC</a></span>
            </div>
        </td-layout-footer>
    </td-layout-nav>


<ng-template #loginDialog let-dialogRef="dialogRef">

    <div layout="column" layout-fill>
        <h2 mat-dialog-title>
            Login
        </h2>
        <mat-dialog-content flex>
            <form #loginForm="ngForm" (keyup.enter)="logIn($event,userElement.value,passElement.value)">
                <div layout="row">
                    <mat-form-field flex>
                        <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text"
                               maxlength="30" name="username" [(ngModel)]="username" required>
                        <span matPrefix>
							<mat-icon>person</mat-icon>
						</span>
                        <mat-hint align="start">
							<span [hidden]="!userControl.errors?.required || userControl.pristine"
                                  class="tc-red-600">Required</span>
                        </mat-hint>
                        <mat-hint align="end">{{userElement.value.length}} / 30</mat-hint>
                    </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex>
                        <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password"
                               name="password" [(ngModel)]="password" required>
                        <span matPrefix>
							<mat-icon>lock</mat-icon>
						</span>
                        <mat-hint align="start">
							<span [hidden]="!passControl.errors?.required || passControl.pristine"
                                  class="tc-red-600">Required</span>
                        </mat-hint>
                        <mat-hint align="end">Something hard to guess</mat-hint>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-divider></mat-divider>
        <mat-dialog-actions align="end">
            <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            <button type="button" mat-button color="accent" class="text-upper" (click)="logIn($event, userElement.value, passElement.value)">Login</button>
        </mat-dialog-actions>
    </div>

</ng-template>
<ng-template #registerDialog let-dialogRef="dialogRef">

    <div layout="column" layout-fill>
        <h2 mat-dialog-title>
            Register
        </h2>
        <mat-dialog-content flex>
            <form #registerForm="ngForm" (keyup.enter)="register()">
                <div layout="row">
                    <mat-form-field flex>
                        <input matInput [(ngModel)]="user.username"  placeholder="Username" type="text"
                               maxlength="30" name="username" required>
                        <span matPrefix>
							<mat-icon>person</mat-icon>
						</span>
                    </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex>
                        <input matInput [(ngModel)]="user.password" placeholder="Password" type="password"
                               name="password" required>
                        <span matPrefix>
							<mat-icon>lock</mat-icon>
						</span>
                    </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex>
                        <input matInput [(ngModel)]="user.name"  placeholder="Name" type="text"
                               name="text" required>
                        <span matPrefix>
							<mat-icon>lock</mat-icon>
						</span>
                        <mat-hint align="end">Introduce your name</mat-hint>
                    </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex>
                        <input matInput [(ngModel)]="user.surName"  placeholder="Surname" type="text"
                               name="text" required>
                        <span matPrefix>
							<mat-icon>lock</mat-icon>
						</span>
                        <mat-hint align="end">Introduce your surnames</mat-hint>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-divider></mat-divider>
        <mat-dialog-actions align="end">
            <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            <button type="button" mat-button color="accent" class="text-upper" (click)="register()">Register</button>
        </mat-dialog-actions>
    </div>

</ng-template>


