body{
    height: 100%;
}
#contained {
    padding-bottom: 20%;
    text-align: center;
}

#tobeseen {
    text-align: left;
    width: 30%;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 20%;
    float: left;
}

#answered {
    width: 30%;
    text-align: left;
    float: left;
}

.btn.btn-primary.dg {
    position: relative;
}
.footer {
    width: 100%;
    padding-bottom: 0;
}