
<footer class="footer" style="position: absolute!important;bottom: 0; width: 100%; height: auto">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        Contáctanos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Avisos legales
                    </a>
                </li>
                <li>
                    <a href="#">
                        Acerca de nosotros
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licencias
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©URJC
        </div>
    </div>
</footer>
</body>
</html>