<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        Contact us
                    </a>
                </li>
                <li>
                    <a href="#">
                        legal warning
                    </a>
                </li>
                <li>
                    <a href="#">
                        about us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©URJC
        </div>
    </div>
</footer>
</body>
</html>