
    <header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="#" target="_blank">
        URJC
    </a>

    <div class="navbar-nav-scroll ml-md-auto ">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="material-icons">today</i>NEXT EVENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MainPage"><i class="material-icons">home</i>HOME</a>
            </li>
            {{#LogIn}}
            <li class="nav-item">
                <a class="btn btn-secondary my-2 my-sm-0" href="{{urlLog}}" rel="noopener"> Log {{inOut}}</a>
            </li>
            {{/LogIn}}
            <li class="nav-item">
                <a class="nav-link" href="#" rel="noopener"></a>
            </li>
        </ul>
    </div>
    </header>