{{#topics}}
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse{{name}}{{id}}">
                <font size="5"><b>{{name}}
                    {{#student}}
                        <div style="float: right;">({{hits}},{{pendings}},{{errors}}):{{total}}</div>
                    {{/student}}
                </b></font>
            </a>
            {{#teacher}}
                <a href="#deleteT{{name}}" data-toggle="modal" name="delete{{name}}"
                   style="position: relative;float: right;right: 15%">
                    <i class="material-icons">delete</i>
                </a>

                <div class="modal fade" id="deleteT{{name}}" tabindex="-1" role="dialog" aria-labelledby="deleteTopic{{name}}"
                     aria-hidden="true" align="center">
                    <form action="/MainPage/deleteTopic{{name}}" method="post">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="card card-plain">
                                    <div class="modal-header card-header card-header-primary">
                                        <h4 class="card-title">Confirmar eliminación</h4>
                                    </div>
                                </div>
                                <div class="modal-body" align="left">
                                    <p> ¿Está seguro de eliminar el {{name}} y sus conceptos asociados?</p>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" id="submit" value="Accept" class="btn btn-primary"/>
                                    <input type="hidden" name="_csrf" value="{{token}}"/>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            {{/teacher}}
        </div>

        <div id="collapse{{name}}{{id}}" class="collapse" data-parent="#accordion">
            {{#concepts}}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <a class="nav-link" id = "headerConcept"
                               {{#student}}onclick="addHeaderConcept('{{name}}')" href = "/MainPage/Student/{{name}}" {{/student}}{{#teacher}} onclick="addHeaderConcept('{{name}}')" href = "/MainPage/Teacher/{{name}}" {{/teacher}}>{{name}}</a>
                            <script>
                                function addHeaderConcept(nombre) {
                                    $.ajax({
                                        url : "/MainPage/HeaderConcept/"+nombre
                                    })
                                }
                            </script>
                        </div>
                        {{#teacher}}
                            <div class="col-md-1">
                                <a href="#deleteC{{name}}" data-toggle="modal" name="delete{{name}}"
                                   style="position: relative;left: 15%">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                            <div class="modal fade" id="deleteC{{name}}" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteConceptTo{{Name}}"
                                 aria-hidden="true" align="center">
                                <form action="/MainPage/deleteConcept{{name}}" method="post">
                                    <div class="modal-dialog " role="document">
                                        <div class="modal-content">
                                            <div class="card card-plain">
                                                <div class="modal-header card-header card-header-primary">
                                                    <h4 class="card-title">Confirmar eliminación</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body" align="left">
                                                <p> ¿Está seguro de eliminar el concepto {{name}}?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" id="submit" value="Accept"
                                                       class="btn btn-primary"/>
                                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        {{/teacher}}
                        {{#student}}
                            <div class="col-md-2" style="right: 2.5%">({{hits}},{{pendings}},{{errors}}):{{total}}</div>
                        {{/student}}
                    </div>
                </div>
            {{/concepts}}
            {{^concepts}}
                     <p style="margin-left: 2.5%">No hay conceptos asociados al tema</p>
            {{/concepts}}
            {{#teacher}}
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal"
                        data-target="#addConcept{{name}}" name="add{{name}}" style="position: relative;left: 15%">
                    <i class="material-icons">add</i>
                </button>
                <div class="modal fade" id="addConcept{{name}}" tabindex="-1" role="dialog"
                     aria-labelledby="addConceptTo{{Name}}"
                     aria-hidden="true" align="center">
                    <form action="/mainPage/addTo{{name}}" method="post">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="card card-plain">
                                    <div class="modal-header card-header card-header-primary">
                                        <h4 class="card-title">Introduzca nuevo tema</h4>
                                    </div>
                                </div>
                                <div class="modal-body" align="left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">Añadir concepto {{name}}</label>
                                                <input name="conceptName" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" id="submit" value="Accept" class="btn btn-primary"/>
                                    <input type="hidden" name="_csrf" value="{{token}}"/>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            {{/teacher}}
        </div>
    </div>
{{/topics}}
{{#NoMore}}
    <span id="noTopic" style="float: right;top:-20px">No existen más temas</span>
{{/NoMore}}

